html
    head
        include ../header
        title Hệ thống theo dõi giảng dạy năm học
    body
        include ../navbar
        .container
            .row
                .col
                    h2 Xác nhận kê khai hồ sơ thanh toán
                    hr
                    p=message